<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-02-11T23:14:38Z</date>
	<key>WorkspacePath</key>
	<string>/Users/Paulina/Desktop/My_Projects/Home Budget Planner/Home Budget Planner.xcworkspace</string>
</dict>
</plist>
